.order-list{
    overflow: hidden;
    margin-top: 10px;
}

.order-list .item{
    background: #fff;
    margin-bottom: 10px;
    border-bottom: #ededed solid 1px;
}

.order-list .item .title{
    padding: 0 15px;
    line-height: 36px;
    font-size: 14px;
    display: flex;
    border-bottom: #ededed solid 1px;
}

.order-list .title .order-no{
    flex: 1;
}

.order-list .title .status{
    text-align: right;
}

.order-list .text-danger{
    color: #ec4444 !important;
}

.order-list .text-success{
    color: #2fc417 !important;
}

.order-list .info{
    text-align: center;
    padding: 15px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.order-list .info p{
    width: 33.33333%;
    line-height: 20px;
    float: left;
    overflow: hidden;
}

.order-list .info p span{
    display: block;
}

.order-list .info p span:first-child{
    color: #999;
    font-size: 14px;
}

.order-list .info p span:last-child{
    padding-top: 5px;
    font-size: 18px;
    /*font-weight: bold;*/
}

.order-list .item .action{
    font-size: 14px;
    display: flex;
    padding: 8px 15px;
    border-top: #ededed solid 1px;
    align-items: center;
}

.order-list .item .btns{
    flex: 1;
    text-align: right;
}

.order-list .item .action button{
    color: #666;
    height: 26px;
    border: #dbdbdb solid 1px;
    border-radius: 12px;
    padding: 0 14px;
}

.order-list .item .action .btn-danger{
    border-color: #ec4444;
    background: #ec4444;
    color: #fff;
}
