#loan{
    background-color: #db4003;
    margin-bottom: 190px;
    position: relative;
}

#loan img{
    width: 100%;
    display: block;
}

#loan .field-group{
    margin: -26px 15px 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px 0.36px rgba(7, 1, 2, 0.09);
    padding: 25px 15px;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
}

#loan .field{
    color: #666;
    font-size: 14px;
    display: flex;
    border-bottom: #f5f5f5 solid 1px;
    padding: 10px 0;
}

#loan .field label{
    flex: 1;
}

#loan .field span{
    text-align: right;
    font-size: 16px;
    color: #000;
}

#loan .field em{
    font-style: normal;
}

#loan .field .money{
    font-size: 18px;
    color: #db4003;
    font-weight: bold;
}

#loan .money i{
    color: #666;
    font-style: normal;
    font-size: 14px;
}

#loan .loan-btn{
    width: 100%;
    display: block;
    line-height: 44px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #db4003;
}

.menu-title{
    font-weight: normal;
    font-size: 16px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 8px 0;
    padding-left: 15px;
}

.menu-title .icon{
    display: block;
    width: 3px;
    height: 16px;
    background: #ededed;
    margin-right: 10px;
}

.menu-group{
    margin-bottom: 10px;
}

.menu-group .icon{
    height: 20px;
}

.menu-group .icon-data{
    background-image: url('../../image/icon_data.png');
}

.menu-group .icon-idcard{
    background-image: url('../../image/icon_idcard.png');
}

.menu-group .icon-operator{
    background-image: url('../../image/icon_operator.png');
}

.menu-group .icon-taobao{
    background-image: url('../../image/icon_taobao.png');
}

.menu-group .icon-mobile{
    background-image: url('../../image/icon_mobile.png');
}

.menu-group .icon-bank-card{
    background-image: url('../../image/icon_bank_card.png');
}

.home-tips{
    font-size: 14px;
    color: #f44d4f;
    padding: 0 15px 15px;
}
